/*
Color Palette:
#4b604f = Pale Green; rgba(75, 96, 79, 1);
#516e2b = Shreck Green; rgba(81, 110, 43, 1);
#303030 = Charcoal; gba(48, 48, 48, 1);
#072257 = Navy Blue; rgba(7, 34, 87, 1);
#b6b6b6 = Light Gray; rgba(182, 182, 182, 1);
#8391ab = Periwinkle; rgba(131, 145, 171, 1);
#94b5ea = Baby Blue; rgba(148, 181, 234, 1);
#c0392b = Redish-Orange;
#e9266d = Pink;
#69c773 = Light Green;
#EFF556 = Pale Yellow;
*/


.nojs {
    padding: 2px;
    padding-left: 6px;
    margin-bottom: 5px;
    background: #ff0000;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.outerdiv {
    margin-top: 60px;
}

.span-style {
    font-size: 17px;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;
}

.book-image {
    float: left;
    width: 150px;
    margin-right: 10px;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.movie-poster {
    float: left;
    width: 150px;
    margin-right: 10px;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.outer-p-1 {
    margin-top: 15px;
}

.inner-p {
    margin: 2px;
    color: #94b5ea;
}

.outer-p-2 {
    margin-top: 15px;
}

.divider {
    margin: 0 8px 0 8px;
}

.divider:before {
    content: "|";
    color: #94b5ea;
}

.bar-style {
    background: #337AB7;
    color: rgb(250, 250, 250);
}

.related-results {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
}

.span-outer {
    font-size: 20px;
}

.feedback {
    color: #94b5ea;
    font-size: 1.75rem;
}

.wrapper {
  background-image: url(images/worldInHands.jpg);
}

.welcome:first-letter {
    display:block;  
    margin: -7px 6px 0 5px;  
    float:left;  
    color:#EFF556;  
    font-size:2.0em;  
    font-family:Georgia;  
}

.welcome {
    color: #94b5ea;
    margin-top: 20px;
    font-size: 1.5rem;
}


.rel-results {
    background: rgba(48, 48, 48, .75);
    border-radius: 5%;
}

li a {
    color: #94b5ea;
}

.label-primary {
    color: #EFF556;
    background-color: rgba(5, 95, 240, .5);
    border-color: rgba(5, 95, 240, .5);
    margin: 3px;
    font-size: 1.5rem;
}

.btn {
    color: yellow;
    background-color: rgba(5, 95, 240, .5);
    border-color: rgba(5, 95, 240, .5);
    margin: 3px;
}

.resultsTitle {
    color: blue;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
    margin-left: 25px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.resultsList {
    color: #EFF556;
    font-size: 1.5rem;
}

.related-results {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
}


footer {
    margin-bottom: 40px;
}


@media (max-width: 850px) {
    .related-results {
        display: none;
    }
}

